#backButton
  height: 48px
  top: 0
  position: absolute
  z-index: 10

#myLevels
  display: flex
  flex-direction: column
  align-items: center
  
  > *
    margin-top: 20px

#tiles
  width: 100%
  display: grid
  grid-auto-flow: column
  grid-auto-rows: 1fr
  div
    width: 32px
    height: 32px
  
