<div *ngIf="!selectedLevel">
  <button id="backButton" mat-button routerLink="/">Back</button>
  <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
    <mat-tab label="My levels">
      <div id="myLevels">
        TODO use near-api-js to search for levels
        <app-level-card
          *ngFor="let level of levels; index as i"
          [level]="level"
          (editLevel)="onEditLevel($event)"
          (playLevel)="onPlayLevel($event)"
        ></app-level-card>
        <button
          mat-raised-button
          (click)="clickCreateNewLevel()"
          [color]="'primary'"
        >
          Create new level
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Find Level">
      <div>TODO add input to search for token_id, and give the level a try</div>
    </mat-tab>
  </mat-tab-group>
  <app-login-menu></app-login-menu>
</div>

<div *ngIf="selectedLevel">
  <app-level-toolbar (backClick)="goBackToSelection()"> </app-level-toolbar>
  <app-game
    [level]="selectedLevel"
    [isEditing]="state === 'editing'"
  ></app-game>
  <button mat-button (click)="clickTestEditLevel()">
    <span *ngIf="state === 'editing'">Test Level</span>
    <span *ngIf="state === 'playing'">Edit Level</span>
  </button>
  <button mat-button (click)="clickSaveLevel()">Save level</button>
  <app-select-character></app-select-character>
</div>
