<h2 mat-dialog-title>Characters</h2>
<mat-dialog-content class="mat-typography">
  <h3>Title of selected character in list</h3>
  <div>Here comes an image/animation, and some description</div>
  <div>We alsio need a link to paras, and a way to purchase the character</div>

  <div class="character-grid">
    <div
      *ngFor="let character of characters; index as i"
      (click)="selectCharacter(character)"
      [id]="character.id"
      [ngClass]="{
        owned: character.isOwned,
        selected: selectedCandidateId === character.id,
        current: currentCharId === character.id
      }"
    >
      <img [src]="character.imgSrc" />
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>X</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="confirmSelection()"
  >
    OK
  </button>
</mat-dialog-actions>
