
::host
  width: 100%
  height: 100%

.character-grid
  display: grid
  grid-auto-rows: 1fr 1fr 1fr
  grid-auto-flow: column
  height: 100%
  min-height: 200px
  justify-items: center
  margin-top: 18px

  div
    width: 64px
    height: 64px
    cursor: pointer
    &:not(.owned)
      filter: grayscale(1) contrast(2)
    &.selected
      border: 2px solid white

img
  width: 128px
  height: auto
  margin: -32px
  image-rendering: pixelated

#heroDefault
  img
    margin: 0
    width: 100%
    height: auto