<h2 mat-dialog-title>Characters</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ selectedCandidate.name }}</h3>
  <div id="heroDescription">
    <img [src]="selectedCandidate.imgSrc" />
    <div>
      {{ selectedCandidate.description }}
      <div *ngIf="!selectedCandidate.isOwned">
        Not owned.
        <a [href]="baseParasHref + selectedCandidate.id">
          {{ buyFromParasStr }}</a
        >
      </div>
    </div>
  </div>

  <hr />
  <div class="character-grid">
    <div
      *ngFor="let character of characters; index as i"
      (click)="selectCharacter(character)"
      [id]="character.id"
      [ngClass]="{
        owned: character.isOwned,
        selected: selectedCandidate.id === character.id,
        current: currentCharId === character.id,
        loading: character.isLoading
      }"
    >
      <img [src]="character.imgSrc" />
      <div id="characterLoading" *ngIf="character.isLoading">
        <div class="loader"></div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="left">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="confirmSelection()"
  >
    OK
  </button>
</mat-dialog-actions>
