
@use 'src/common'

:host
  width: 100%
  height: 100%

h2
  text-align: center

h3
  text-align: center
  border-radius: 20px
  background: common.$primary-foreground
  color: common.$primary-background

#heroDescription
  width: 100%
  height: 150px
  display: grid
  grid-template-columns: 1fr 3fr
  justify-items: center
  align-items: center

  > div
    margin: 18px

  > img
    width: 64px
    height: 64px
  a
    text-decoration: none
    color: common.$primary-foreground

.character-grid
  display: grid
  grid-auto-rows: 1fr 1fr 1fr
  grid-auto-flow: column
  height: 100%
  min-height: 200px
  justify-items: center
  margin-top: 18px

  div
    position: relative
    padding: 8px
    width: 64px
    height: 64px
    cursor: pointer
    border-radius: 4px
    &:not(.owned)
      filter: grayscale(1) contrast(2)
    &.selected
      outline: 2px solid white
    &.current
      background: common.$primary-foreground

    #characterLoading
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      top: 0
      left: 0
      padding: 0
      .loader
        border: 8px solid #000000
        border-top: 8px solid #ffffff
        border-radius: 50%
        width: 20px
        height: 20px
        animation: spin 2s linear infinite

img
  image-rendering: pixelated
  margin: 0
  width: 100%
  height: auto


@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
