<h2 mat-dialog-title>Characters</h2>
<mat-dialog-content class="mat-typography">
  <h3>Title of selected character in list</h3>
  <div>Here comes an image/animation, and some description</div>
  <div>We alsio need a link to paras, and a way to purchase the character</div>

  <div class="character-grid">
    <div
      (click)="selectCharacter({ id: 'heroDefault', isOwned: true })"
      id="heroDefault"
      [ngClass]="{
        owned: true,
        selected: selectedCharId === 'heroDefault'
      }"
    >
      <img
        src="assets/platform_metroidvania/herochar sprites(new)/herochar_jump_up_anim.gif"
      />
    </div>
    <div
      *ngFor="let character of extraCharacters; index as i"
      (click)="selectCharacter(character)"
      [id]="character.id"
      [ngClass]="{
        owned: character.isOwned,
        selected: selectedCharId === character.id
      }"
    >
      <img [src]="character.imgSrc" />
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>X</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
