<div id="toolbar">
  <button mat-button (click)="backButtonClick($event)">Back</button>
  <div id="toolButtons">
    <button
      mat-button
      *ngFor="let btn of toolPanelBtns"
      (click)="handleToolClick(btn)"
    >
      {{ btn.imgSrc }}
    </button>
  </div>

  <button
    [disabled]="editorState !== 'editing'"
    mat-button
    id="customizePanelBtn"
    (click)="openCustomizePanel()"
  >
    &#8964;
  </button>
  <button
    [disabled]="editorState !== 'editing'"
    mat-button
    id="paintTool"
    (click)="openPaintTool()"
  >
    <img [src]="selectedTileSrc" />
  </button>
  <app-login-menu></app-login-menu>
</div>
<mat-card
  class="mat-elevation-z4"
  id="tilesPanel"
  *ngIf="isTilesPanelOpen"
  (click)="handleTilesPanelClick($event)"
>
  <img
    class="tile"
    [id]="'tileIndex-' + tileSource.tile"
    [src]="tileSource.src"
    *ngFor="let tileSource of tileSources; index as i"
  />
</mat-card>
