<div>
  <button mat-button (click)="backButtonClick($event)">Back</button>
  <button
    [disabled]="editorState !== 'editing'"
    mat-button
    id="paintTool"
    (click)="openPaintTool()"
  >
    Select Tile <img [src]="selectedTileSrc" />
  </button>
  <app-login-menu></app-login-menu>
</div>
<mat-card
  class="mat-elevation-z4"
  id="tilesPanel"
  *ngIf="isTilesPanelOpen"
  (click)="handleTilesPanelClick($event)"
>
  <img
    class="tile"
    [id]="'tileIndex-' + (i + 1)"
    [src]="src"
    *ngFor="let src of tileSources; index as i"
  />
</mat-card>
